.note-form {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.note-form label {
  font-size: 18px;
  color: #1e3a8a; /* Dark blue */
  display: block;
  margin-bottom: 10px;
  font-weight: bold; /* Bold text */
}

.input-container {
  position: relative;
}

.note-form input[type="text"],
.note-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 15px;
  color: #333;
  background-color: #f9fafb;
  font-weight: bold; /* Bold text */
}

.note-form textarea {
  max-width: 90%; /* Reduce the width of textarea */
}

.note-form input[type="text"].invalid,
.note-form textarea.invalid {
  border-color: #e3342f; /* Red for error state */
}

.note-form input[type="text"].invalid::placeholder,
.note-form textarea.invalid::placeholder {
  color: #e3342f; /* Red for error messages */
}

.note-form .error-message {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #e3342f;
  font-size: 14px;
  display: block;
  pointer-events: none;
  background-color: #f9fafb;
  padding: 0 5px;
  z-index: 1;
}

.note-form input[type="text"].invalid + .error-message,
.note-form textarea.invalid + .error-message {
  display: block;
}

.note-form button {
  background-color: #1e3a8a; /* Dark blue */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.note-form button:hover {
  background-color: #3748a8; /* Slightly darker blue */
}

@media (max-width: 768px) {
  .note-form {
    padding: 15px;
  }

  .note-form label {
    font-size: 16px;
  }

  .note-form input[type="text"],
  .note-form textarea {
    font-size: 14px;
  }

  .note-form button {
    padding: 8px 16px;
  }

  .note-form textarea {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .note-form {
    padding: 10px;
  }

  .note-form label {
    font-size: 14px;
  }

  .note-form input[type="text"],
  .note-form textarea {
    font-size: 12px;
  }

  .note-form button {
    padding: 6px 12px;
  }
}
